#products {
    padding-block: 4rem;
    padding-inline: 3rem;
    background-color: #f2f2f2;
    color: #19ce96;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.message {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    z-index: 999;
}
